.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin: 40px 0 30px;
}
.headerText {
  font-size: 60px;
  font-weight: 200;
  margin-bottom: 20px;
}
.searchForm {
  position: relative;
}
.container {
  background-color: rgba(174, 174, 174, 0.107);
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.container:hover,
.container:active {
  transform: scale(1.1);
  background-color: rgba(174, 174, 174, 0.315);
}
.image {
  width: 16px;
  height: 16px;
}
.search {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 50px;
  border: 1px solid #ddddde;
  border-radius: 4px;
  outline: none;
  width: 70vw;
  max-width: 700px;
  padding-left: 15px;
  font-size: 16px;
}
.search:focus {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

@media screen and (max-width: 500px) {
  .search {
    width: 80vw;
  }
  .image {
    width: 12px;
    height: 12px;
  }
  .search {
    height: 40px;
    font-size: 14px;
  }
  .headerText {
    font-size: 50px;
  }
}
